/* Author: William Z Chadwick
 * Date Created: 09/15/2022
 * Date Modified: 03/30/2023
 * Description: "A place for the cascading style sheets (css) for my wzcOnline website index page."
 * */

/* overall style for page element */

:root {
  background: #1a1a1a;
  color: #DCDCDC;
  position: relative;
  left: 15%;
  top: 10%;
}


/* font changes */

h1, h2, h4, p, a, ul, ol, li, pre, blockquote, #header2a {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}

a {
  color: #ff2b2b;
}

a:active {
  color: #ff9999;
}

h2, a, li, #menu {
  font-size: 18px;
  font-weight: 550;
  line-height: 25px;
  letter-spacing: 1.2px;

}

a, #menu {
  text-decoration: none;
}

/*
a:visited {
  color: #db5704;
}
*/

h1 {
  font-kerning: normal;
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: 500;
  line-height: 52px; 
  right: 5vh;
}

h2 {
  font-size: 18px;
  font-weight: 550;
  line-height: 45px;
  letter-spacing: 1.2px;
}

#header2a {
  font-size: 28px;
  font-weight: 400;
}

/* header2a, menu, and h1 all modified as of 11/08/2022; menu taken and put below as of 03/23 */

h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}

p, a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

ul, ol, li {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

li {
        list-style-image: url("../image_files/list-bulletA2.png") 0.1vw;
        list-style-position: inside;
}

blockquote {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}


/*
 * I am commenting out the pre selector because I don't think
 * I have a pre html tag on any of my web pages, but perhaps
 * I wanted this for something later on.
pre {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
*/

/*above are the first css changes I ever made to a personal website
 * 
 * - above changed 03/30/2023
 *
 * 
 *below are the changes I made for Promineo Tech Week 7 Coding Assignment*/

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*
img {
	border-radius: 50px;
	max-height: 25%;
	width: auto;
}
nope, going to leave it commented out for now; maybe another time
although I did change border-radius below to 50px from 25px, and max-width from 25% to 30%, after some experimenting.
 */

img {
  border-radius: 50px;
  height: 50vh;
}


img.landscape {
  min-height: 33%;
  max-height: 55%;
}

img.portrait {
  width: 40vh;
  min-width: 45%;
  max-width: 55%;
}



/*above are the css changes I made for Promineo Tech Week 7 Coding Assignment, 09/15/2022
 *
 *
 * 
 * sepia example: background-color: #fcf5ee;
 * conic-gradient();
 * font-size: 70px;
 * font-weight: 600;
 * background-image: linear-gradient(to left, #553c9a, #b393d3);
 * color: transparent;
 * background-clip: text;
 * -webkit-background-clip: text;
 * {
 *       position: relative;
 *       left: 80px;
 *       top: 10px;
 *  
 *  }
 *
*/

/*
 * below are the css changes I made for Promineo Tech Week 8 Coding Assignment, 10/15/2022
 */

/* #x {
height: 20vh;
width: 20vh;
}
responsive shape!!

[all text?] {
letter-spacing: 0.1em
}

/ debugging trick { background-color: rgba(0,255,0,0.1); }

#image { line-height: 1.5em; list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png); } 

map() vs forloop

.flex-container {
flex-wrap: wrap-reverse;
}

/*
array, so there will have to be a devision algorithm; getTotalSizeofIndices() --> divideBy2() --> run numCheck() --> if first numChecked = 6, return found. if first numChecked < 6, run division algorithm again for every indice > numCheckednum (which should be saved in a variable so as not to forget), but starting between previous target and ladt indice.

reverse last step if numChecked > target . repest
*/

.fixed-nav-bar {
top: 0;
left: 0;
height: 100%;
width: 50px;
background-color: 00a087;
}

/* enki screenshot sent to Stormi responsive design */

li, .menu {
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
}

a, summary, li .menu {
  font-size: 2.5vh;
  font-weight: 700
}

nav {
  position: fixed;
  top: 0.1%;
  right: 0.1%;
  min-height: 5%;
  max-height: 95%;
  min-width: 15%;
  max-width: 33%;
  z-index: 100;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 20vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 24vh;
  color: black;
  background-color: #DCDCDC;
  padding: 10px;
  border: 1.5px dashed;
  border-radius: 15px;
  cursor: pointer;
  margin: 16px 16px 16px 16px;
}

  /*  width: 2vw; was 200px now replaced by min and max height properties above*/

  /* two old values from the nav selector
   * transparent(25%, white, black);
  /* background-image: radial-gradient(circle, #b0b0b0, sepia); */

#frink {
	background-color: red;
}

li:hover {
  background-color: maroon;

}

tr:nth-child(3n) {
  background-color: #DCDCDC; /* color = HTML Gainsboro */
  color: black;
}

tr:nth-child(2n) {
  background-color: black;
  color: #DCDCDC;
}

table {
  padding: 4vh 2vw;
}

th, td, li:hover {
  padding: 1vh 1vw;
}

button, table, th, td, form, label, summary, details, header {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

button, a {
	cursor: pointer;
}

progress {
	width: 20%;
}

input[type=text], select {
  width: 37%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 37%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* 
 * I need to add button attributes and details/summary/collapsible attributes to the nav section
 */

